@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root{
    --font1:'Inter', sans-serif;
    --font2:'Lexend Deca', sans-serif;
    --white:hsl(0, 0%, 100%);
    --mainParaWhite: hsla(0, 0%, 100%, 0.75);
    --statHeadWhite:hsla(0, 0%, 100%, 0.6);
    --verydarkblue:hsl(233, 47%, 7%);
    --darkDesaturatedBlue:hsl(244, 38%, 16%);
    --softViolet:hsl(277, 64%, 61%);
}
body{
    width: 100%;
    height: 100vh;
    background-color: var(--verydarkblue);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 80%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--darkDesaturatedBlue);
    border-radius: 8px;
}
.details{
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 0 3rem;
    /* padding-right: 4rem; */
}
.image{
    width: 50%;
    height: 100%;
    background-color: var(--softViolet);
    filter: saturate(100%);
    border-radius:0 8px 8px 0 ;

}
.image img{
    width: 100%;
    height: 100%;
    opacity: 0.4;
    filter: saturate(500%);
    mix-blend-mode:luminosity;
    border-radius:0 8px 8px 0 ;
}
.title{
    font-family: var(--font1);
    color: var(--white);
    font-size: 2.5rem;
    font-weight: 700;
    /* padding: 0 1em; */
    margin: 4rem 2em 0.5em 0.5em; 
    text-align: left;
}
span{
    color: var(--softViolet);
}
.desc{
    color: var(--statHeadWhite);
    font-family: var(--font2);
    font-size: 0.9rem;
    margin: 0 3.5em 2em 1.8em; 
    padding-right:6em;
    word-spacing: 1px;
    text-align: left;
}
.ratings{
    display: flex;
    justify-content: space-between;
    color: azure;
    margin: 3em 5em 2em 1.5em; 
    padding-right:4em ;
}
.value1{
    font-family: var(--font1);
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0;
    text-align: left;
}
.text1{
    font-family: var(--font2);
    font-size: 0.7rem;
    color: var(--statHeadWhite);
    margin-top:4px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width:430px) and (min-width:300px) {
    /* html{
        width: 100%;
        height: 100%;
    } */
    body{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        margin: 5em 0;
        font-size: 10px;
    }
    .container{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .image{
        width: 100%;
        height: 40%;
        border-radius: 8px 8px 0 0 ;
    }
    .image img{
        width: 100%;
        height: 100%;
        border-radius: 8px 8px 0 0 ;
    }
    .details{
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .title{
        font-family: var(--font1);
        color: var(--white);
        font-size: 1.7rem;
        font-weight: 700;
        text-align: center;
        margin: 1rem 1.5em 0.5rem 1.5em;
    }
    .desc{
        color: var(--statHeadWhite);
        font-family: var(--font2);
        font-size: 0.9rem;
        margin: 1em 2.5em 1em 2.5em;
        padding: 0;
        word-spacing: 1px;
        text-align: center;
    }
    .ratings{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: azure;
        margin: 0 0 2em 0;
        padding: 0;
    }
    .value1{
        font-family: var(--font1);
        font-size: 1.3rem;
        font-weight: 700;
        margin-bottom: 0;
        text-align: center;
    }
    .text1{
        font-family: var(--font2);
        font-size: 0.7rem;
        color: var(--statHeadWhite);
        margin-top:4px;
    }
}

@media screen and (max-width:1400px) and (min-width:760px) {
    body{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        margin: 5em 0;
        font-size: 10px;
    }
    .container{
        width: 80%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--darkDesaturatedBlue);
        border-radius: 8px;
    }
    .details{
        width: 50%;
        height: 100%;
        text-align: center;
        padding: 0;
    }
    .image{
        width: 50%;
        height: 100%;
        background-color: var(--softViolet);
        filter: saturate(100%);
        border-radius:0 8px 8px 0 ;
    }
    .image img{
        width: 100%;
        height: 100%;
        opacity: 0.4;
        filter: saturate(500%);
        mix-blend-mode:luminosity;
        border-radius:0 8px 8px 0 ;
    }
    
}
